<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>test film</title>
	</head>
	<body>
		<h1>{{ movie.title }}</h1>
		<p>Synopsis: {{ movie.synopsis }}</p>
		<p>{{ movie.genres }}</p>
		<p>{{ movie.rating }} </p>
<iframe src="{{ movie.trailer_url }}" width="560" height="315"></iframe>
		<a href="{{ movie.trailer_url }}" target="_blank">Watch Trailer</a>





		{% comment %} <p>{{ movie.namesRefs }}</p>
		<p>{{ movie.year }}</p>
		<p>synopsis{{ movie.synopsis }}</p>
		<p>synopsis{{ movie.plot }}
			{{ movie.get_plot}}
			{{ movie.get_fullsizeURL}}
			{{ movie.fullsizeURL}}
			<p>{{ movie['title'] }}</p>



			{{ movie.get_rating}}

		</p>


		<p>{{ synops }}</p> {% endcomment %}

		{% comment %} <p>Synopsis: {{ movie.get('plot outline')|default:"No synopsis available" }}</p>
		</p> {% endcomment %}


		<img src="{{ movie.cover}}" width="200px" />
	</body>
</html>
